@model EventoFactory.Models.Eventos

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<h2><font class="ciano">Criar Evento</font></h2>


@using (Html.BeginForm("Create", "AdmEventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)
    <div class=" ciano">
        <fieldset>
            <legend>Eventos</legend>



            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Capacidade)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Capacidade)
                @Html.ValidationMessageFor(model => model.Capacidade)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descricao)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ID_Local, "Locais")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ID_Local", String.Empty)
                @Html.ValidationMessageFor(model => model.ID_Local)
            </div>
            <button type="button" class="btn btn-success" style="margin-right: 18%;" data-toggle="modal"
                data-target=".bd-example-modal-sm">@Html.ActionLink("Cadastrar Local", "Create", "AdmLocais")</button>
            <div class="editor-label">
                @Html.LabelFor(model => model.ID_Ingresso, "Ingressos")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ID_Ingresso", String.Empty)
                @Html.ValidationMessageFor(model => model.ID_Ingresso)
            </div>
            <button type="button" class="btn btn-success" style="margin-right: 18%;" data-toggle="modal"
                data-target=".bd-example-modal-sm">@Html.ActionLink("Cadastrar Ingressos", "Create", "AdmIngressos")</button>
            <div class="row">

                <div class="form-group col-sm-12">

                    <label>Foto</label>

                    <input type="file" name="file" id="file" accept=".jpg,.jpeg,.png" />

                </div>

            </div>

            <button type="submit" class="btn btn-primary">

                <span class="glyphicon glyphicon-floppy-disk"></span>Salvar

            </button>







        </fieldset>
    </div>
}


<div>
    @Html.ActionLink("Voltar a Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
