@model EventoFactory.Models.Eventos

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
<div class="ciano">
<h2>Details</h2>

<fieldset>
    <legend>Eventos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capacidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Locais.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Locais.Endereco)
    </div>
</fieldset>
    </div>
<p>
    @Html.ActionLink("Editar", "Edit") |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
