<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EventoFactory</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <link href="~/Content/design.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scroll.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>

<header id="header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><font color="orange">EventoFactory</font></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><font class="ciano">Ingressos Comprados</font></a>
                    </li>
                    <li>
                        <a href="#"><font class="ciano">Contato</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobrenos"><font class="ciano">Sobre</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index", "Eventos")"> <font class="ciano">Eventos</font> </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a class="page-scroll" href="#cadastro">Cadastrar</a></li> -->
                    <li>
                        <a class="page-scroll" href="#login" id="bt_entrar"><font class="ciano">Cadastrar</font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "LoginAccount")"><font class="ciano">Entrar</font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>

<body>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)


<footer>
    <address>
        <strong>Eventos Factory</strong><br>
                Avenida Paulista, 460, Bela Vista<br>
                São Paulo, SP<br>
    </address>
    <address>
        Email: contato@eventosfactory.com.br
    </address>
</footer>
</body>
</html>
