@{
    ViewBag.Title = "Cadastre-se";
}

@model EventoFactory.Models.Usuarios

@using (Html.BeginForm("Cadastrar", "Usuarios", FormMethod.Post))
{



    <div class="container">
        <h2><font class="ciano">Cadastre-se</font></h2>
        @ViewBag.Mensagem;

        <fieldset>
            <legend><font class="ciano">Usuario</font></legend>

            <form class="ciano">
                <div class="ciano">

                    <div>
                        <div class="editor-label">
                            @Html.LabelFor(x => x.Email)                            
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(x => x.Email)
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>                        
                    </div>

                    <div>
                        <div class="editor-label">
                            @Html.LabelFor(x => x.Nome)    
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(x => x.Nome)
                            @Html.ValidationMessageFor(x => x.Nome)
                        </div>
                    </div>

                    <div>
                        <div class="editor-label">
                            @Html.LabelFor(x => x.Usuario)    
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(x => x.Usuario)
                            @Html.ValidationMessageFor(x => x.Usuario)
                        </div>
                    </div>
                    <div>
                        <div class="editor-label">
                            @Html.LabelFor(x => x.Senha)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(x => x.Senha)
                            @Html.ValidationMessageFor(x => x.Senha)
                        </div>                        
                    </div>
                </div>

                <p>
                    <input type="submit" value="Enviar">
                </p>


            </form>
        </fieldset>
    </div>
}


