@model IEnumerable<EventoFactory.Models.Compras>

@{
    ViewBag.Title = "Historico";
    Layout = "../Shared/_LayoutPortalUsuario.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet">
<div class="container">
    <h1 style="color:#bab6b6; padding-bottom: 15px; font-family:Andale Mono, monospace;">Histórico de Compras</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed" style="background-color: #9f9a9a;">
                    <tr>
                        <th>Nome</th>
                        <th>Evento</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Protocolo da compra</th>
                    </tr>
                    <!-- Lista de todas as compras feitas pelo usuario logado -->
                    @foreach(var compras in Model){
                    <tr>
                        <!-- Nome do Usuario -->
                        <td>
                           @compras.Usuarios.Nome;
                        </td>
                        <!-- Nome do evento-->
                        <td>
                            @compras.Ingressos.Eventos;
                        </td>
                        <!-- Preço do evento -->
                        <td>
                            @compras.Ingressos.Preco;
                        </td>
                        <!-- Quantidade -->
                        <td>
                          
                        </td>
                        <!--Total-->
                        <td>
                            @compras.Ingressos.Preco
                        </td>
                        <!-- Protocolo -->
                        <td>
                            @compras.ID_Compra
                        </td>

                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


