@model EventoFactory.Models.Eventos

@{
    ViewBag.Title = "Create";
}

<head>
    <link href="~/Content/Eventos/eventos.css" rel="stylesheet" />
</head>


<div class="container">
    <h2>Criar evento</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Capacidade)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Capacidade) <p>pessoas</p>
                @Html.ValidationMessageFor(model => model.Capacidade)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descricao)
            </div>
            <div class="editor-field">
                @Html.TextArea("descricao", "", 10, 100, new object { })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ID_Local, "Locais")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ID_Local", String.Empty)
                @Html.ValidationMessageFor(model => model.ID_Local)
            </div>            

            <div class="editor-label">
                @Html.LabelFor(model => model.ID_Ingresso, "Preço ingresso")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Ingressos.Valor)
                
                @Html.DropDownList("ID_Ingresso", String.Empty)
                @Html.ValidationMessageFor(model => model.ID_Ingresso)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
