<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EventoFactory</title>
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link href="~/Content/one-page-wonder.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <link href="~/Content/design.css" rel="stylesheet">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <!-- Custom CSS -->
    <link href="~/Content/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scroll.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>

<header id="header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><font color="orange">EventoFactory</font></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Historico","Historico")"><font class="ciano">Ingressos Comprados</font></a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContatoFactory", "Contato")"><font class="ciano">Contato</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("SobreFactory", "Sobre")"><font class="ciano">Sobre</font></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Eventos", "Evento")"> <font class="ciano">Eventos</font> </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a class="page-scroll" href="#cadastro">Cadastrar</a></li> -->
                    <li>
                        <a href="@Url.Action("Index", "../Home")"><font class="ciano">Sair</font></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>

<body>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)


    <footer class="container-fluid">
        <address>
            <strong>Eventos Factory</strong><br>
            Avenida Paulista, 460, Bela Vista<br>
            São Paulo, SP<br>
        </address>
        <address>
            Email: contato@eventosfactory.com.br
        </address>
        <div class="row" style="margin-top:10px" class="ciano">
            @if (Session["Nome"] != null)
            {
                <h1>@Session["Nome"].ToString()  @Session["Sobrenome"].ToString()</h1>

            }
        </div>
    </footer>
</body>
</html>
